<section class="banner-area">
    <header>
        <h2><a href="#">Cybage Diagonistics labs</a></h2>
        <nav>
            <li><a href="#"><i class="icon-home"> </i>Home</a></li>
            <li><a href="#about"><i class="icon-user"> </i>About</a></li>
            <li><a href="#services"><i class="icon-gear"> </i>Login</a></li>
            <li><i class="icon-picture"> </i><a href="/user">Register</a></li>
            <li><i class="icon-envelope"> </i><a href="#Contact">Contact</a></li>
        </nav>
    </header>
</section>