*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

/* .banner-area
    height:10vh;
    border:#000 solid 2px;
    background-color:rgba(83, 223, 192, 0.616) ;
    color: antiquewhite
   */
   .banner-area{
    position: relative;
    justify-content: center;
    height: 10vh;
   background-color:#3f51b5;
    text-align: center;
    color:aliceblue;
    border:#000 solid 2px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    
}

@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Poppins:wght@400;600;800&display=swap');
.banner-area header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 30px;
    flex-shrink: 0;
   
}

.banner-area header h2{
    text-transform: uppercase;
    text-align: start;
    
}

.banner-area header h2 a{
    color: #fff;
    text-decoration: none;
}



.banner-area header nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.banner-area header nav li{
    margin: 15px 15px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type:none;

}

.banner-area header nav li a{
   color:#fff;
   font-size: larger;
   text-decoration: none;

}
.banner-area header nav li h4{
    color:#fff;
    font-size: larger;
    text-decoration: none;
 
 }

.banner-area header nav li:first-child{
    margin-left: 0;
}
.banner-area header nav li:last-child{
    margin-right: 0;
}

/* mat-label{
    color:#fff;
   font-size: larger;
   text-decoration: none;
} */
/* mat-select mat-option{
    background-color: #3f51b5;
    color: #fff;
    text-decoration: none;
} */

@media(max-width:1000px)
{
    header{
        padding: 20px  50px;
        }
}

@media(max-width:800px){
    .banner-area{
        height: 15vh;
    }

    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 10px;
    }
    header nav li{
        margin: 0 5px;
        font-size: smaller;
    }
}

@media(max-width:540px){

    .banner-area{
        height: 15vh;
    }

    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 10px;
        
    }
    header nav li{
        margin: 0 2px;
        font-size:x-small;
    }
}