<section class="banner-area">
    <header>
        <h2><a href="#">Cybage Diagonistics labs</a></h2>
        <nav>
            <li><a href="#"><i class="icon-home"> </i>Home</a></li>
            <li><a href="#about"><i class="icon-user"> </i>About</a></li>
            <li>
                <h4>Login</h4>
                <mat-select>
                      <mat-option style="background-color:#3f51b5;text-decoration:none"><a href="/adminLogin" style="color:#fff;text-decoration:none">Admin Login</a></mat-option>
                      <mat-option style="background-color:#3f51b5;text-decoration:none"><a href="/userLogin" style="color:#fff;text-decoration:none">User Login</a></mat-option>
                </mat-select>            
            </li>
            <li>
                <h4>Register</h4>
                <mat-select>
                      <mat-option style="background-color:#3f51b5;text-decoration:none"><a href="/RegAdmin" style="color:#fff;text-decoration:none">Register Admin</a></mat-option>
                      <mat-option style="background-color:#3f51b5;text-decoration:none"><a href="/RegUser" style="color:#fff;text-decoration:none">Register User</a></mat-option>
                </mat-select>            
            </li>
            
            <li><i class="icon-envelope"> </i><a href="#Contact">Contact</a></li>
        </nav>
    </header>
</section>