<section class="banner-area">
    <header>
        <h2><a href="#">Cybage Diagonistics labs</a></h2>
        <nav>
            <li><a href="#"><i class="icon-home"> </i>Home</a></li>
            <li><a href="#about"><i class="icon-user"> </i>About</a></li>
            <li><a href="/adminLogin" style="color:#fff;text-decoration:none">Admin Login</a></li>
            <li><a href="/userLogin" style="color:#fff;text-decoration:none">User Login</a></li>
            <li><a href="/RegUser" style="color:#fff;text-decoration:none">Register User</a></li>
            <li><i class="icon-envelope"> </i><a href="#Contact">Contact</a></li>
        </nav>
    </header>
</section>